body{
  background-color: lightblue;
}
.topnav {
  background-color: white;
  display: flex;
  margin: 5px;
}
.title{
  padding-top: 4px;
  padding-left: 10px;
}
.pagelinks{
  padding-top: 37px;
  padding-left: 20px;
  align-items: right;
}
.logo{
  padding-top: 20px;
  padding-left: 10px;
}
.bodytext{
  margin: 5px;
  padding: 10px;
  background-color: white;
}
.Page {
  margin-top: 35px;
  margin-left: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
}
.Page:active {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #2b00ff;
  text-decoration: none;
}
.Active{
  margin-top: 35px;
  margin-left: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #2b00ff;
  text-decoration: none;
}

#title {
  font-family: Arial, sans-serif;
  margin-right: 10px;
  font-size: 30px;
}

h1{
  font-family: Arial, sans-serif;
  margin-right: 10px;
  font-size: 25px;
}
p{
  font-family: Arial, sans-serif;
  margin-right: 10px;
}
h3{
  font-family: Arial, sans-serif;
  margin-right: 10px;
}
